{% extends 'base.html' %}

{% block title %}New_Group{% endblock%}

{% block content %}

<br>
<h3 align="center">Add users to Group</h3>
<br>
<br>
<table style="width:100%">
    <tr>
        <td width="35%">
            <h5>{{ group_name }}'s members:</h5>
            {% for member in members %}
                <h6 title="{{ member.email }}">{{ member.name }}</h6>
            {% endfor %}
        </td>
        <th style="width:30%">
            <form method="POST">
                <div class="button_list">
                    <label for="email">Add User</label>
                    <input
                           type="text"
                           class="form-control"
                           id="email"
                           name="email"
                           placeholder="Enter An email"
                    />
                </div>
                <br>
                <button type="submit" class="btn btn-primary" name="submit_button" value="add_user">Add User</button>
                <button type="submit" class="btn btn-primary" name="submit_button" value="confirm_group">Confirm group</button>
            </form>
        </th>
        <td width="35%"></td>
    </tr>
</table>

{% endblock %}