{% extends "base.html" %}

{% block title %}group name{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for group in groups %}
            <li class="nav-item">
                <a class="nav-link" href="group?group_index={{ loop.index - 1 }}">{{ group.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>

  {% set current_group = groups[request.args["group_index"] | int] %}

<table style="width:100%">
    <tr>
        <td style="width:50%">
            <h1 align="center">{{current_group.name}}</h1>
            <ul class="list-group list-group-flush" id="notes">
              {% for note in current_group.notes %}
              <li class="list-group-item">{{ note.data }}
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                  <span aria-hidden="true">&times;</span>
                </button>
              </li>
              {% endfor %}
            </ul>
            <form method="POST">
                <div class="center">
                    <textarea name="note" id="note" class="form-control"></textarea>
                    <br>
                    <div align="center">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </td>
        <td width="20%"></td>
        <td width="14%">
        <h5 align="center">group members</h5>
            {% for member in members %}
            <h6 align="right">{{ member.name }} |</h6>
            {% endfor %}
        </td>
        <td width="2%">
        <td width="14%" align="left">
        <h5 align="center">member's emails</h5>
            {% for member in members %}
            <h6 align="left">{{ member.email }}</h6>
            {% endfor %}
        </td>
    </tr>
</table>


<script>

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>


{% endblock %}
